:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --footer-contacts-text-color: rgba(255, 255, 255, 0.6);

    --accent-color: #2196F3;

    --primary-background-color: #FFFFFF;
    --gray-background-color: #F5F4FA;
    --footer-background-color: #2F303A;

    --primary-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
}

/* Общие стили */

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);

    font-family: var(--primary-font-family);
    letter-spacing: 0.03em;
}

h1, 
h2, 
h3, 
p, 
ul {
    margin: 0;
    padding: 0;
}

.btn {
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover, 
.link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.logo {
    text-decoration: none;
    color: var(--accent-color);
    font-family: var(--logo-font-family);
    font-size: 26px;
    line-height: 1.2;
}

.title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.text {
    color: var(--secondary-text-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.img {
    display: block;
}

/* Header */

.header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--primary-background-color);
}

.header .item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}

.header-logo-accent {
    color: var(--primary-text-color);
}

.nav-list {
    display: flex;
}

.nav-list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-list .item:not(:last-child) {
    margin-right: 50px;
}

.header .current {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;

    color: var(--secondary-text-color);
}

.header-contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contacts .item:not(:last-child) {
    margin-right: 50px;
}

/* INDEX.HTML */
/* Hero */

.hero {
    max-width: 1600px;
    min-height: 600px;

    margin-left: auto;
    margin-right: auto;   
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--footer-background-color);

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;

    color: var(--white-text-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section Qualities */

.qualities-list {
    display: flex;
    justify-content: space-between;
}

.qualities-list .item {
    width: 270px;
}

.section-qualities .subtitle {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-qualities .text {
    font-size: 14px;
    line-height: 1.71;
}

/* Section Do */

.section-do {
    padding-top: 0;
}

.do-list {
    display: flex;
    justify-content: space-between;
}

.section-do .title {
    margin-bottom: 50px;
}

/* Section Team */

.section-team {
    background-color: var(--gray-background-color);
}

.section-team .title {
    margin-bottom: 50px;
}

.section-team .list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section-team .item {
    background-color: var(--primary-background-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-team .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.section-team .text {
    margin-top: 10px;
    
    line-height: 1.19;
}

.team-container {
    padding: 30px 0;
}

/* PORTFOLIO.HTML */
/* Section Portfolio*/

.portfolio-list-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list-btn .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    background-color: var(--gray-background-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.portfolio-btn:hover, 
.portfolio-btn:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio .current {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.section-portfolio .subtitle {
    margin-bottom: 4px;
    
    color: var(--primary-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-portfolio .text {
    line-height: 1.88;
}

.card-border {
    padding: 20px 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-background-color);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.footer-logo-accent {
    color: var(--white-text-color);
}

.address {
    margin-bottom: 9px;

    color: var(--white-text-color);
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.mail-footer {
    margin-bottom: 9px;
}

.footer-contacts {
    color: var(--footer-contacts-text-color);

    font-size: 14px;
    line-height: 1.71;
}

